.bw-flex {
  display: flex;
}

.bw-flex--col {
  flex-direction: column;
}

.bw-flex--align-c {
  align-items: center;
}

.bw-flex--justify-c {
  justify-content: center;
}

.bw-flex--justify-between {
  justify-content: space-between;
}

// 垂直居中 + 水平居中
.bw-flex--center {
  justify-content: center;
  align-items: center;
}
