.bw-full {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.hover {
  position: relative;
  cursor: pointer;
  &:hover {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
    }
  }
}

// 滚动条样式
.scroll-bar {
  &::-webkit-scrollbar {
    width: 3px;
    // background: var(--bg-color);
    background: currentColor;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 50px;
  }
}
